<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>update & update_or_create</h1>
        <table border="3px">
            <tr>
                <th>empno</th>
                <th>ename</th>
                <th>job</th>
                <th>mgr</th>
                <th>hiredate</th>
                <th>sal</th>
                <th>comm</th>
                <th>deptno</th>
            </tr>

            {% for eu in EMU %}
                <tr>
                   <td>{{eu.empno}}</td>
                   <td>{{eu.ename}}</td>
                   <td>{{eu.job}}</td>
                   <td>{{eu.mgr}}</td>
                   <td>{{eu.hiredate}}</td>
                   <td>{{eu.sal}}</td>
                   <td>{{eu.comm}}</td>
                   <td>{{eu.deptno}}</td>
                </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>
